<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.143" targetFramework="net462" />
  <package id="DatabaseSchemaReader" version="2.8.1" targetFramework="net462" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="SqlKata" version="2.4.0" targetFramework="net462" />
  <package id="SqlKata.Execution" version="2.4.0" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net462" />
</packages>